@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-15xl: 34px;
  --font-size-11xl: 30px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-ghostwhite-100: #f4f4ff;
  --color-darkslateblue: #3b3355;
  --color-slategray-100: #6d6d91;
  --color-slategray-200: #5d5d81;
  --color-lavender-100: #e9e9ff;
  --color-lavender-200: #dbdbf8;
  --color-dimgray: #4e4e6c;
  --color-lightsteelblue: #a2a2c0;
  --color-lightslategray: #8989a9;

  /* Gaps */
  --gap-12xs: 1px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-sm: 14px;
  --br-xl: 20px;
  --br-mini: 15px;
}